*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: calc(100vh - 5px);
    display:  flex;
    flex-direction: column;
    gap: 3%;
    background-image: url('imgs/people-soccer-stadium.jpg');
    background-size: cover;
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
}

ul {
    /* text-decoration: none; */
    list-style: none;
    display: flex;

}

li {
    padding: 0px;
}

header {
    width: 100%;
    height: 60px;
    border-radius: 1px;
    /* centrar */
    display: flex;
    justify-content: space-between;
}

ul li a {
  display: block;
  color: white;
  padding: 20px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

.title{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    
}

#menu {
  display: none;
}

#menu.show {
  display: block;
}

#menuBtn {
  width: 40px;
  cursor: pointer;  /* Cambia el cursor a mano */
}

